<% layout('layouts/boilerplate') %>
<div class="container">
<div class="center-form d-flex">
    <div class="row my-auto">
        <div class="col-xl-4 offset-md-4">
            <div class="card shadow">
                <img src="https://res.cloudinary.com/dsyimxnrg/image/upload/v1666364322/HimalyanCamps/photo_2022-06-10_18-24-01_fhbw81.jpg"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Reset password</h5>
                <form action="/forgotPassword" class="validate-form" method="POST" novalidate>
                    <label for="email" class="form-label">Enter your email:</label>
                    <input type="email" name="email" id="email" class="form-control mb-3">
                    <div class="d-grid gap-2">
                        <button class="btn btn-success col-12">Send reset link</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>